@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

*:not(.ace_editor, .ace-editor *) {
    font-family: 'Open Sans', sans-serif;
}

.ace_line.hidden-line {
    display: none;
}
